# Ansible manageged. Local modifactions may overwritten.

[Unit]
Description=Restart gitlab.service when the certificate is renewed. 
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart gitlab.service
